.container {
    height: 95vh;
    width: 80vw;
    display: grid;
    grid-template-rows: 60px auto;
    border-radius: var(--border-radius-2);
    background-color: var(--background-color-1);
    box-shadow: var(--box-shadow);
    overflow: auto;
    scrollbar-width: none;
}

.containerHeader {
    display: flex;
    align-items: center;
    padding: var(--padding-2);
    position: sticky;
    top: 0px;
    z-index: 1;
    background-color: var(--background-color-2);
    box-shadow: var(--box-shadow);
}

.containerHeader p {
    font-size: var(--font-size-3);
    font-weight: var(--font-weight);
    color: var(--color-1);
}

.containerContent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--gap);
    padding: var(--padding-2);
}

.card{
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius-1);
    padding: var(--padding-1);
    gap: 10px;
    cursor: pointer;
    overflow: hidden;
    display: grid;
}

.teamContainer{
    display: grid;
    gap: 5px;
}

.homeTeamContainer{
    display: flex;
    align-items: center;
    gap: 5px;
}

.awayTeamContainer{
    display: flex;
    align-items: center;
    gap: 5px;
}

.homeTeamContainer p{
    font-size: var(--font-size-1);
}

.awayTeamContainer p{
    font-size: var(--font-size-1);
}

.card img{
    height: 35px;
}

.discription{
    font-size: var(--font-size-1);
    color: #0a858e;
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    font-weight: var(--font-weight);
}

.toss{
    color: #9a3c3c;
}
.upcoming{
    color: var(--color-2);
}