.container {
    height: 95vh;
    width: 80vw;
    display: grid;
    grid-template-rows: 60px auto;
    border-radius: var(--border-radius-2);
    background-color: var(--background-color-1);
    box-shadow: var(--box-shadow);
    overflow: auto;
    scrollbar-width: none;
}

.containerHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0px;
    z-index: 1;
    background-color: var(--background-color-2);
    box-shadow: var(--box-shadow);
}

.containerHeader p {
    font-size: var(--font-size-3);
    font-weight: var(--font-weight);
    color: var(--color-1);
}

.containerContent {
    display: grid;
    grid-template-rows: 40px auto;
    gap: var(--gap);
}

.tabsContainer {
    position: sticky;
    top: 60px;
    background-color: var(--background-color-3);
}

.card{
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius-1);
    padding: var(--padding-1);
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
}

.disabled{
    cursor: not-allowed;
}

.user{
    border: var(--border-3);
    background-color: var(--background-color-6);
}

.matchContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--gap);
    padding: var(--padding-2);
}