.container {
    height: 95vh;
    width: 80vw;
    display: grid;
    grid-template-rows: 60px auto;
    border-radius: var(--border-radius-2);
    background-color: var(--background-color-1);
    box-shadow: var(--box-shadow);
    overflow: auto;
    scrollbar-width: none;
}

.containerHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0px;
    z-index: 1;
    background-color: var(--background-color-2);
    box-shadow: var(--box-shadow);
}

.containerHeader p {
    font-size: var(--font-size-3);
    font-weight: var(--font-weight);
    color: var(--color-1);
}

.containerContent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 240px auto;
    gap: var(--gap);
    padding: var(--padding-1);
}

.section {
    display: grid;
    gap: var(--gap);
}

.sectionHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--padding-2);
    background-color: var(--background-color-3);
}

.sectionHeader p {
    font-size: var(--font-size-2);
    font-weight: var(--font-weight);
    color: var(--color-1);
}

.sectionContent {
    display: grid;
    grid-template-rows: 35px auto 35px;
    padding: var(--padding-1);
}

.button {
    font-size: var(--font-size-3);
    font-weight: var(--font-weight);
    color: var(--color-1);
    border: none;
    border-radius: var(--border-radius-1);
    background-color: var(--background-color-3);
    box-shadow: var(--box-shadow);
    cursor: pointer;
    outline: none;
    transition: var(--transition);

    &:hover {
        transform: var(--scale);
    }
}

.altMessage {
    font-size: var(--font-size-1);
    font-style: var(--font-style);
    padding: var(--padding-1);
}

.section:nth-child(1){
    grid-template-rows: 50px auto;
    border-radius: var(--border-radius-1);
    background-color: var(--background-color);
    box-shadow: var(--box-shadow);
    overflow: hidden;
}

.section:nth-child(2) .button{
    background-color: rgb(196, 187, 17);
}

.section:nth-child(3) .button{
    font-size: var(--font-size-2);
    background-color: rgb(18, 130, 98);
}

.section:nth-child(4) .button{
    background-color: rgb(70, 69, 122);
}

.section:nth-child(5) .button{
    background-color: rgb(248, 129, 26);
}

.section:nth-child(6) .button{
    background-color: rgb(99, 17, 118);
}

@media screen and (max-width: 321px) {
    :root {
        --font-size-1: 16px;
        --font-size-2: 18px;
        --font-size-3: 22px;
    }

    .container {
        width: 95vw;
    }

    .containerContent {
        grid-template-rows: 140px auto;
    }

    .section {
        grid-column: span 3;
    }

    .section:nth-child(5) {
        grid-column: span 3;
    }

    .section:nth-child(4) .sectionContent .imageContainer img {
        height: 70px;
    }

    .section:nth-child(5) .sectionContent .imageContainer img {
        height: 60px;
    }
}

@media screen and (min-width: 321px) and (max-width: 376px) {
    :root {
        --font-size-1: 16px;
        --font-size-2: 18px;
        --font-size-3: 22px;
    }

    .container {
        width: 95vw;
    }

    .containerContent {
        grid-template-rows: 140px auto;
    }

    .section {
        grid-column: span 3;
    }

    .section:nth-child(5) {
        grid-column: span 3;
    }

    .section:nth-child(4) .sectionContent .imageContainer img {
        height: 70px;
    }

    .section:nth-child(5) .sectionContent .imageContainer img {
        height: 60px;
    }
}

@media screen and (min-width: 376px) and (max-width: 426px) {
    :root {
        --font-size-1: 16px;
        --font-size-2: 18px;
        --font-size-3: 22px;
    }

    .container {
        width: 95vw;
    }

    .containerContent {
        grid-template-rows: 140px auto;
    }

    .section {
        grid-column: span 3;
    }

    .section:nth-child(5) {
        grid-column: span 3;
    }

    .section:nth-child(4) .sectionContent .imageContainer img {
        height: 90px;
    }

    .section:nth-child(5) .sectionContent .imageContainer img {
        height: 80px;
    }
}

@media screen and (min-width: 426px) and (max-width: 769px) {
    :root {
        --font-size-1: 16px;
        --font-size-2: 18px;
        --font-size-3: 22px;
    }

    .container {
        width: 95vw;
    }

    .containerContent {
        grid-template-rows: 160px auto;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .section {
        grid-column: span 2;
    }

    .section:nth-child(5) {
        grid-column: span 4;
    }

    .section:nth-child(4) .sectionContent .imageContainer img {
        height: 80px;
    }

    .section:nth-child(5) .sectionContent .imageContainer img {
        height: 90px;
    }
}