
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    height: 95vh;
    width: 80vw;
    display: grid;
    grid-template-rows: 60px 1fr;
    border-radius: var(--border-radius-2);
    background-color: var(--background-color-1);
    box-shadow: var(--box-shadow);
    overflow: auto;
    scrollbar-width: none;
}
.card{
    overflow: auto;

}