.container {
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-rows: 10% auto;
  grid-template-columns: 1fr;
  padding: var(--padding-1);
}

.containerHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-2);
  border-radius: var(--border-radius);
  background-color: var(--background-color);
  box-shadow: var(--box-shadow);
}

.containerHeader p {
  font-size: var(--font-size-2);
  font-weight: var(--font-weight);
  color: var(--color);
}

.containerHeader button {
  font-size: var(--font-size-2);
  font-weight: var(--font-weight);
  color: var(--color);
  padding: 5px 20px;
  border: none;
  border-radius: 14px;
  background-color: var(--background-color);
  box-shadow: var(--box-shadow);
  cursor: pointer;
  outline: none;

  &:hover {
    color: #fff;
    background-color: #000000;
  }
}

.containerContent {
  overflow: auto;
  scrollbar-width: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: var(--gap);
  padding-block: var(--padding-2);
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid #ffffff;
  border-radius: var(--border-radius);
  background-color: var(--background-color);
  box-shadow: var(--box-shadow);
  cursor: pointer;
}

.active {
  border: 5px solid #000000;
}

.containerContent input {
  display: none;
}

.containerContent img {
  height: 150px;
}

@media screen and (max-width: 321px) {
  :root {
    --font-size-1: 14px;
    --font-size-2: 16px;
    --font-size-3: 16px;
    --font-size-4: 20px;
    --font-size-5: 24px;
    --gap: 14px;
    --padding-1: 6px;
    --padding-2: 16px;
    --padding-3: 14px;
    --border-radius: 14px;
  }

  .containerContent {
    grid-template-columns: 1fr 1fr;
    padding-block-end: 60px;
  }

  .containerContent img {
    height: 100px;
  }
}

@media screen and (min-width: 321px) and (max-width: 376px) {
  :root {
    --font-size-1: 14px;
    --font-size-2: 16px;
    --font-size-3: 16px;
    --font-size-4: 20px;
    --font-size-5: 24px;
    --gap: 14px;
    --padding-1: 6px;
    --padding-2: 16px;
    --padding-3: 14px;
    --border-radius: 14px;
  }

  .containerContent {
    grid-template-columns: 1fr 1fr;
    padding-block-end: 60px;
  }

  .containerContent img {
    height: 120px;
  }
}

@media screen and (min-width: 376px) and (max-width: 426px) {
  :root {
    --font-size-1: 16px;
    --font-size-2: 18px;
    --font-size-3: 18px;
    --font-size-4: 20px;
    --font-size-5: 24px;
    --gap: 20px;
    --padding-1: 8px;
    --padding-2: 18px;
    --padding-3: 14px;
    --border-radius: 14px;
  }

  .containerContent {
    grid-template-columns: 1fr 1fr;
    padding-block-end: 60px;
  }

  .containerContent img {
    height: 130px;
  }
}

@media screen and (min-width: 426px) and (max-width: 769px) {
  :root {
    --gap: 24px;
  }

  .containerContent {
    grid-template-columns: 1fr 1fr 1fr;
    padding-block-end: 60px;
  }

  .containerContent img {
    height: 140px;
  }
}