.container {
  max-height: 95vh;
  width: 80vw;
  display: grid;
  grid-template-rows: 12% auto;
  border-radius: var(--border-radius-2);
  background-color: var(--background-color-1);
  box-shadow: var(--box-shadow);
  overflow: auto;
  scrollbar-width: none;
}

.containerHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0px;
  padding: var(--padding-2);
  background-color: var(--background-color-2);
  box-shadow: var(--box-shadow);
}

.containerHeader p {
  font-size: var(--font-size-3);
  font-weight: var(--font-weight);
  color: var(--color-1);
}

.containerHeader button {
  height: 40px;
  width: 80px;
  font-size: var(--font-size-2);
  font-weight: var(--font-weight);
  color: var(--color-1);
  border: none;
  border-radius: var(--border-radius-1);
  background-color: var(--background-color-4);
  box-shadow: var(--box-shadow);
  cursor: pointer;
  outline: none;
  transition: var(--transition);

  &:hover {
    transform: var(--scale);
  }
}

.containerContent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: var(--gap);
  padding: var(--padding-2);
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--border-2);
  border-radius: var(--border-radius-1);
  box-shadow: var(--box-shadow);
  cursor: pointer;
}

.active {
  border: var(--border-3);
  background-color: var(--background-color-6);
}

.card input {
  display: none;
}

.card img {
  height: 140px;
}