.container {
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-rows: 10% auto;
    grid-template-columns: 1fr;
    padding: var(--padding-1)
}

.containerHeader {
    display: flex;
    align-items: center;
    padding: var(--padding-2);
    border-radius: var(--border-radius);
    background-color: var(--background-color);
    box-shadow: var(--box-shadow);
}

.containerHeader p {
    font-size: var(--font-size-2);
    font-weight: var(--font-weight);
    color: var(--color);
}

.containerContent {
    overflow: auto;
    scrollbar-width: none;
    display: grid;
    grid-template-rows: 40% auto;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--gap);
    padding-block: var(--padding-2);
}

.section {
    display: grid;
    grid-template-rows: 25% auto;
    grid-template-columns: 1fr;
    border-radius: var(--border-radius);
    background-color: var(--background-color);
    box-shadow: var(--box-shadow);
}

.sectionHeader {
    display: flex;
    align-items: center;
    padding: var(--padding-2);
    border-bottom: var(--border);
}

.sectionContent {
    display: grid;
}

.section:nth-child(1) {
    grid-template-rows: 1fr;
    background-color: transparent;
    box-shadow: none;
}

.section:nth-child(1) .sectionContent {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    gap: var(--gap);
}

.button {
    font-size: var(--font-size-4);
    font-weight: var(--font-weight);
    color: var(--color);
    border: none;
    border-radius: var(--border-radius);
    background-color: var(--background-color);
    box-shadow: var(--box-shadow);
    cursor: pointer;
    outline: none;

    &:hover {
        color: #fff;
        background-color: #000000;
    }
}

.startButton {
    font-size: var(--font-size-5);
    grid-row: span 2;
}

.section:nth-child(2) .sectionContent,
.section:nth-child(3) .sectionContent {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.section.section:nth-child(2) .sectionHeader p,
.section.section:nth-child(3) .sectionHeader p {
    font-size: var(--font-size-2);
    font-weight: var(--font-weight);
    color: var(--color);
}

.section.section:nth-child(2) .sectionContent .imageContainer,
.section.section:nth-child(3) .sectionContent .imageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section.section:nth-child(2) .sectionContent .imageContainer img,
.section.section:nth-child(3) .sectionContent .imageContainer img {
    height: 100px;
    border: var(--border);
    border-radius: 50%;
}

.section:nth-child(2) .sectionContent .detailsContainer,
.section:nth-child(3) .sectionContent .detailsContainer {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: var(--padding-1);
}

.section:nth-child(2) .sectionContent .detailsContainer p,
.section:nth-child(3) .sectionContent .detailsContainer p {
    font-size: var(--font-size-2);
    font-weight: var(--font-weight);
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}

.section:nth-child(2) .sectionContent .detailsContainer span,
.section:nth-child(3) .sectionContent .detailsContainer span {
    font-size: var(--font-size-1);
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}

.section:nth-child(2) .altMessage,
.section:nth-child(3) .altMessage {
    font-size: var(--font-size-1);
    grid-column: span 3;
    padding: var(--padding-2);
}

.section.section:nth-child(4) .sectionHeader p,
.section.section:nth-child(5) .sectionHeader p {
    font-size: var(--font-size-3);
    font-weight: var(--font-weight);
    color: var(--color);
}

.section:nth-child(4) .sectionContent {
    display: grid;
    grid-template-rows: 25% auto;
}

.section:nth-child(4) .sectionContent .detailsContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding-2);
}

.section:nth-child(4) .sectionContent .detailsContainer span {
    font-size: var(--font-size-1);
    text-decoration: underline;
}

.section:nth-child(4) .sectionContent .imageContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: var(--padding-2);
}

.section:nth-child(4) .sectionContent .imageContainer img {
    height: 100px;
    border: var(--border);
    border-radius: 50%;
}

.section:nth-child(4) .sectionContent .imageContainer span {
    font-size: var(--font-size-2);
    font-weight: var(--font-weight);
}

.section:nth-child(4) .altMessage {
    font-size: var(--font-size-1);
    grid-row: span 2;
    padding: var(--padding-2);
}

.section:nth-child(5) {
    grid-column: span 2;
}

.section:nth-child(5) .sectionContent {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

.section:nth-child(5) .sectionContent .imageContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: var(--padding-3);
}

.section:nth-child(5) .sectionContent .imageContainer img {
    height: 140px;
    border: var(--border);
    border-radius: 50%;
}

.section:nth-child(5) .altMessage {
    font-size: var(--font-size-1);
    padding: var(--padding-2);
}

@media screen and (max-width: 321px) {
    :root {
        --font-size-1: 14px;
        --font-size-2: 16px;
        --font-size-3: 16px;
        --font-size-4: 20px;
        --font-size-5: 24px;
        --gap: 10px;
        --padding-1: 6px;
        --padding-2: 16px;
        --padding-3: 14px;
        --border-radius: 14px;
    }

    .containerContent {
        padding-block-end: 50px;
    }

    .section {
        grid-column: span 3;
    }

    .section.section:nth-child(2) .sectionContent .imageContainer img,
    .section.section:nth-child(3) .sectionContent .imageContainer img {
        height: 70px;
    }

    .section:nth-child(4) .sectionContent .imageContainer img {
        height: 70px;
        border: var(--border);
        border-radius: 50%;
    }

    .section:nth-child(5) {
        grid-column: span 3;
    }

    .section:nth-child(5) .sectionContent .imageContainer img {
        height: 55px;
        border: var(--border);
        border-radius: 50%;
    }
}

@media screen and (min-width: 321px) and (max-width: 376px) {
    :root {
        --font-size-1: 14px;
        --font-size-2: 16px;
        --font-size-3: 16px;
        --font-size-4: 20px;
        --font-size-5: 24px;
        --gap: 10px;
        --padding-1: 6px;
        --padding-2: 16px;
        --padding-3: 14px;
        --border-radius: 14px;
    }

    .containerContent {
        padding-block-end: 50px;
    }

    .section {
        grid-column: span 3;
    }

    .section.section:nth-child(2) .sectionContent .imageContainer img,
    .section.section:nth-child(3) .sectionContent .imageContainer img {
        height: 80px;
    }

    .section:nth-child(4) .sectionContent .imageContainer img {
        height: 80px;
        border: var(--border);
        border-radius: 50%;
    }

    .section:nth-child(5) {
        grid-column: span 3;
    }

    .section:nth-child(5) .sectionContent .imageContainer img {
        height: 70px;
        border: var(--border);
        border-radius: 50%;
    }
}

@media screen and (min-width: 376px) and (max-width: 426px) {
    :root {
        --font-size-1: 16px;
        --font-size-2: 18px;
        --font-size-3: 18px;
        --font-size-4: 20px;
        --font-size-5: 24px;
        --gap: 16px;
        --padding-1: 8px;
        --padding-2: 18px;
        --padding-3: 14px;
        --border-radius: 14px;
    }

    .containerContent {
        padding-block-end: 50px;
    }

    .section {
        grid-column: span 3;
    }

    .section.section:nth-child(2) .sectionContent .imageContainer img,
    .section.section:nth-child(3) .sectionContent .imageContainer img {
        height: 80px;
    }

    .section:nth-child(4) .sectionContent .imageContainer img {
        height: 85px;
        border: var(--border);
        border-radius: 50%;
    }

    .section:nth-child(5) {
        grid-column: span 3;
    }

    .section:nth-child(5) .sectionContent .imageContainer img {
        height: 75px;
        border: var(--border);
        border-radius: 50%;
    }
}

@media screen and (min-width: 426px) and (max-width: 769px) {
    .containerContent {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .section {
        grid-column: span 2;
    }

    .section.section:nth-child(2) .sectionContent .imageContainer img,
    .section.section:nth-child(3) .sectionContent .imageContainer img {
        height: 100px;
    }

    .section:nth-child(4) .sectionContent .imageContainer img {
        height: 100px;
        border: var(--border);
        border-radius: 50%;
    }

    .section:nth-child(5) {
        grid-column: span 4;
    }

    .section:nth-child(5) .sectionContent .imageContainer {
        padding-block: var(--padding-2);
    }

    .section:nth-child(5) .sectionContent .imageContainer img {
        height: 130px;
        border: var(--border);
        border-radius: 50%;
    }
}