:root {
    --padding: 10px;
    --gap: 20px;
    --border-radius: 10px;
    --border-width: 1.5px;
    --color: hsl(0, 0%, 20%);
    --border-color: hsl(0, 0%, 80%);
    --background-color: #ffffff;
    --font-size-1: 16px;
    --font-size-2: 18px;
    --font-size-3: 32px;
    --font-size-4: 20px;
    --font-weight-1: 500;
    --font-weight-2: 600;
    --box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
}

.container {
    height: 100vh;
    overflow: hidden;
    padding: var(--padding);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% auto;
    gap: var(--gap);
}

.containerHeader {
    display: flex;
    align-items: center;
    padding: var(--padding);
    border-radius: var(--border-radius);
    border: var(--border-width) solid var(--border-color);
    background-color: var(--background-color);
    box-shadow: var(--box-shadow);
}

.containerHeader p {
    font-size: var(--font-size);
    font-weight: var(--font-weight-1);
    color: var(--color);
}

.containerContent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 40% auto;
    gap: var(--gap);
    overflow: auto;
    scrollbar-width: none;
}

.section {
    border-radius: var(--border-radius);
    background-color: var(--background-color);
    display: grid;
    border: var(--border-width) solid var(--border-color);
}

.section:nth-child(2),
.section:nth-child(3) {
    grid-template-columns: 1fr;
    grid-template-rows: 25% auto;
    border: var(--border-width) solid var(--border-color);
    color: var(--color);
    box-shadow: var(--box-shadow);
}

.section:nth-child(1) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    box-shadow: none;
    background-color: transparent;
    border: none;
}

.sectionHeader {
    padding: var(--padding);
    align-content: center;
    border-bottom: var(--border-width) solid var(--border-color);
}

.sectionHeader p {
    font-size: var(--font-size);
    font-weight: var(--font-weight-1);
    color: var(--color);
}

.section:nth-child(1) .sectionContent {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: var(--gap);
}

.section:nth-child(2) .sectionContent,
.section:nth-child(3) .sectionContent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-self: center;
    align-items: center;
    padding: var(--padding);
    gap: var(--gap);
}

.startBtn {
    grid-row: span 2;
    font-size: var(--font-size-3);
}

.errorMessage {
    grid-column: span 3;
}


.details {
    grid-column: span 2;
}

.details p {
    font-size: 18px;
    font-weight: var(--font-weight-2);
}

.details span {
    font-size: var(--font-size);
    font-weight: var(--font-weight-1);
}

.section:nth-child(2) .sectionContent img,
.section:nth-child(3) .sectionContent img {
    border: var(--border-width) solid var(--border-color);
    height: 100px;
    border-radius: 50%;
}

.button {
    font-size: var(--font-size-4);
    font-weight: var(--font-weight-2);
    background-color: var(--background-color);
    border-radius: var(--border-radius);
    border: var(--border-width) solid var(--border-color);
    color: var(--color);
    box-shadow: var(--box-shadow);
    padding: var(--padding);
    cursor: pointer;
    outline: none;
}

.section:nth-child(5) {
    grid-column: span 2;
}