:root {
    --padding: 10px;
    --gap: 20px;
    --border-radius: 10px;
    --border-width: 2px;
    --border-color: rgba(110, 107, 107, 0.5);
    --background-color: #ffffff;
    --font-size: 16px;
    --font-weight: 500;
}

.container {
    height: 100vh;
    overflow: hidden;
    padding: var(--padding);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% auto;
    gap: var(--gap);
}

.containerHeader {
    display: flex;
    align-items: center;
    padding: var(--padding);
    border-radius: var(--border-radius);
    border: var(--border-width) solid var(--border-color);
    background-color: var(--background-color);
}

.containerHeader p {
    font-size: var(--font-size);
    font-weight: var(--font-weight);
}

.containerContent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 40% auto;
    gap: var(--gap);
    overflow: auto;
    scrollbar-width: none;
}

.section {
    border-radius: var(--border-radius);
    background-color: var(--background-color);
    display: grid;
    border: var(--border-width) solid var(--border-color);
}

.section{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 25% auto;
}

.sectionHeader{
    grid-column: span 2;
    padding: var(--padding);
    align-content: center;
    border-bottom: var(--border-width) solid var(--border-color);
}

.sectionHeader p{
    font-size: var(--font-size);
    font-weight: var(--font-weight);
}

.button {
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    background-color: var(--background-color);
    border-radius:var(--border-radius);
    border: none;
    box-shadow: 2px 2px 10px rgba(110, 107, 107, 0.5);
    padding: var(--padding);
    cursor: pointer;
    outline: none;

    &:hover {
        transform: scale(1.1);
    }
}

.section:nth-child(5) {
    grid-column: span 2;
}