.container {
    height: 95vh;
    width: 50vw;
    display: grid;
    grid-template-rows: 60px auto;
    border-radius: var(--border-radius-2);
    background-color: var(--background-color-1);
    box-shadow: var(--box-shadow);
    overflow: auto;
    scrollbar-width: none;
}

.containerHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0px;
    z-index: 1;
    background-color: var(--background-color-2);
    box-shadow: var(--box-shadow);
}

.containerHeader p {
    font-size: var(--font-size-3);
    font-weight: var(--font-weight);
    color: var(--color-1);
}

.containerContent {
    gap: var(--gap);
}

.containerContent table {
    height: 100%;
    width: 100%;
    border-collapse: collapse;
}

table thead {
    height: 50px;
    background-color: var(--background-color-3);
    font-size: var(--font-size-2);
    color: var(--color-1);
    position: sticky;
    top: 60px;
}

table tbody tr:not(:last-child) {
    border-bottom: var(--border-1);
}

table thead tr th:nth-child(1){
    text-align: left;
    padding-inline: 20px;
}

table tbody tr td:nth-child(1) {
    padding-inline: 20px;
    text-align: left;
    font-size: var(--font-size-1);
}

table tbody tr td:nth-child(2),
table tbody tr td:nth-child(3),
table tbody tr td:nth-child(4),
table tbody tr td:nth-child(5),
table tbody tr td:nth-child(6),
table tbody tr td:nth-child(7) {
    width: 80px;
}

td{
    text-align: center;
}

table tbody tr:nth-child(1),
table tbody tr:nth-child(2),table tbody tr:nth-child(3),table tbody tr:nth-child(4){
    font-weight: var(--font-weight);
}

table tbody tr:hover{
    background-color: #f4f4f4;
}  