
.container {
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-rows: 10% auto;
    grid-template-columns: 1fr;
    gap: var(--gap);
    padding: var(--padding);
}

.containerHeader {
    display: flex;
    align-items: center;
    padding: var(--padding);
    border-radius: var(--border-radius);
    background-color: var(--background-color);
    box-shadow: var(--box-shadow);
}

.containerHeader p {
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    color: var(--color);
}

.containerContent {
    overflow: auto;
    scrollbar-width: none;
    display: grid;
    grid-template-rows: 40% auto;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--gap);
    padding: var(--padding);
}

table,tr,td,th{
    padding: var(--padding);
    text-align: left;
    border: 2px solid;
    border-collapse: collapse;
}