.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
  }
  
  .videoContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
  }
  
  .videoBackground {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    object-fit: cover;
  }
  .title {
    color: #333;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 2rem;
  }
  
  .teamsRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
    width: 100%;
  }
  
  .teamCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 8px;
    cursor: pointer;
    border: 3px solid #d5d6d7;
    width: 180px;
    background-color: #f8f9fa;
    box-shadow: 0 2px 5px #0000001a;
  }
  
  .teamCard.selected {
    border: 3px solid #000;
  }
  
  .teamLogo {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-bottom: 0.5rem;
  }
  
  .teamName {
    font-weight: bold;
    font-size: 1.2rem;
    color: #333;
  }
  
  .nextButtonContainer {
    margin-top: 2rem;
    display: flex;
    justify-content: flex-end;
    padding-inline: 70px;
    width: 100%;
  }
  
  .nextButton {
    border: 5px solid #5875d5;
    border-radius: 5px;
    padding: 5px 12px;
    font-size: 20px;
    background: transparent;
    color: #fff;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  @media (max-width: 768px) {
    .teamsRow {
      gap: 1rem;
    }
    
    .teamCard {
      width: 120px;
    }
    
    .teamLogo {
      width: 80px;
      height: 80px;
    }
  }
  
  @media (max-width: 480px) {
    .teamCard {
      width: 100px;
    }
    
    .teamLogo {
      width: 60px;
      height: 60px;
    }
    
    .teamName {
      font-size: 1rem;
    }
  }