.container {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.section {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px 0px;
}

.section:first-child {
    height: 20%;
    justify-content: start;
    padding: 0px 25px;
}

.section:last-child {
    height: 80%;
    justify-content: center;
    flex-direction: column;
    padding: 100px 30px;
    overflow: auto;
    scrollbar-width: none;
}

h2 {
    width: 100%;
    border: 2px solid red;
}

.tabButton {
    font-size: 17px;
    font-weight: 600;
    color: #000;
    background-color: #fff;
    border-radius: 8px;
    padding: 12px 15px;
    cursor: pointer;
}

.active {
    color: #fff;
    background-color: #3f51b5;
}

.cardContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.card {
    background-color: #d0caca;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    cursor: pointer;
}

.cardTitle {
    height: 10%;
    width: 100%;
    font-size: 17px;
    font-weight: 500;
    padding: 10px 20px;
}

.cardBody {
    height: 90%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 10px 20px;
}