html{
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    background-image: url(../src/assets/rootBackground1.svg), url(../src/assets/rootBackground2.svg);
    background-position: bottom left, top right;
    background-repeat: no-repeat, no-repeat;
}

*{
    box-sizing: inherit;
}

#root {
    height: 100vh;
    width: 100vw;
    background-color: #ffffff;
}

.container {
    height: 100vh;
    width: 100vw;
    border: 2px solid;
    overflow: auto;
    scrollbar-width: none;
}